
/* Paralex scrolling */
.parallex {
  background-image: url('lockwood_using_equipment.jpg');
  height: 90%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
/* end Paralex scrolling */

/* Beginning of heading video */
.fullscreen {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.fullscreen_video {
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
    height: 800px;
}

.video_overlay_text {
    position: absolute;
    text-align: center;
    font-size: 4em;
    z-index: 9999;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* End of heading video */


/* Timeline */
html, body {
    background-color: #222C32;
    height: 100%;
}

/* Outer darker gray box */
.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A;
  padding: 0 10%;
  border-radius: 60px;
}
/* Spreading out the different boxes */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #7E57C2;
}

/* Centers the line */
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/*Spaces out the boxes vertically*/
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
/* Adds the circles */
.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #673AB7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}
/* The boxes and inside the boxes */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333C42;
  border-radius: 30px;
  padding: 1em;
  .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
  }
}
/* This is needed to make height of the boxes smaller */
.cd-timeline-content h2 {
  margin-top:0;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

/* Makes the boxes stay on the correct sides of the screen */
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  /* Puts the arrows in the correct place */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
/* Puts the boxes on the correct side again */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
    /* Puts the arrows in the correct place(again)*/
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
}
/* End of timeline*/

/* Block Text */
.block {
  margin: auto;
  width: 70%;
  position: relative;
  padding: 2em;
}

.block p {
  line-height: 1.5;
  font-family:'Roboto', sans-serif;
  color:white;
}

.block h2 {
  text-align: center;
  line-height: 1.5;
  font-family:'Roboto', sans-serif;
  color:white;
}
/* End of Block Text */

/* Slideshow */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: #939190;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  background-color: #939190;
}

/* On hover add a black background */
.prev:hover, .next:hover {
  background-color: #000;
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  background-color: #939190;
}
.text:hover {
  background-color: #000;
  transition: background-color 0.6s ease;
  color: white;
}

/* Number text */
.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* End of slideshown */



/* FIRST Menu Bar option (gray background) */
.menu-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.menu-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 26px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  text-decoration:none;
}

.menu-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #7E57C2
}


/* SECOND Menu Bar Option (no background color) */
.menu-bar1 {
  width: 100%;
  overflow: auto;
  z-index: 9999;
  position:absolute;
}

.menu-bar1 a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 26px 0;
  transition: all 0.3s ease;
  font-size: 1.5em;
  color: white;
  font-family:'Roboto', sans-serif;
  text-decoration:none;
}

.menu-bar1 a:hover {
  background-color: #271154;
}
